/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-info div {
    margin-right: 20px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

.dashboard-box {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-left: 20px; /* 왼쪽 여백 조절 */
}

h1 {
    text-align: left;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.post-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.post-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
